$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/"
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic')
// bower:scss
@import bootstrap-sass-official/assets/stylesheets/_bootstrap.scss
// endbower

@import "_variables.sass"

*
  &:before,
  &:after
    box-sizing: border-box

html
  font-weight: normal
  margin: 0 auto

body
  font-size: 16px
  font-family: 'Roboto', 'Open Sans', sans-serif
  color: #45525f

html,
body
  height: 100%

table
  min-width: 600px
  margin-bottom: 2rem
  tr
    margin: 0 5px
    &.even
      background-color: #f1f2f2
  th,
  td
    padding: 5px 10px !important
    vertical-align: middle !important
    font-size: 14px !important
  th
    height: 6rem
    border-bottom-width: 1px !important
  td
    &.title
      color: $blueText
      font-weight: bold

button
  &:focus
    outline: 1px solid transparent !important

.vcenter
  display: inline-block
  vertical-align: middle
  float: none

@import "header.sass"
@import "status-bar.sass"
@import "card.sass"
@import "start.sass"
@import "finish.sass"
