@import "_variables.sass"

.page
  &__title
    font-size: 2.5rem
    margin-bottom: 25px
  &__list
    margin-bottom: 2rem
    @media (min-width: $screen-md-min)
      margin-bottom: 8.75rem
  &__table
    overflow-x: auto
    @media (min-width: $screen-md-min)
      overflow-x: initial

.rating
  &_with-padding
    .row
      margin-right: 0 !important
  button.select
    color: $greenBtn
    border-color: $greenBtn
    background-color: transparent
    &:hover
      background-color: $greenBtn
      color: #ffffff

.star
  $size: 2rem
  font-size: $size
  height: $size
  min-width: .5em
  width: 20%
  &:before
    content: '\2606'
    vertical-align: middle
  &.fill
    &:before
      content: '\2605'
      color: $orangeStar
