<div class="card col-xs-12 col-sm-4">
    <div class="card__wrapper">
        <div class="card__title">List {{number}}</div>
        <div class="card__description">Далеко-далеко за словесными горами в стране.</div>
        <div class="card__result">
            <button ng-repeat="car in selectedcars | orderBy: 'title' track by car.id" ng-click="selectcar({car: car})" class="btn btn-sm btn-success item" type="button">{{car.title}}</button>
        </div>
        <button class="card__button btn col-xs-8" ng-class="styleClass" ng-click="goto()" ng-disabled="selectedcars.length === 0">Go to step 2</button>
        <div class="clearfix"></div>
    </div>
</div>