<div class="finish">
    <div class="finish__title">
        <h2>Selected list</h2>
    </div>
    <div class="finish__table">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center">Title</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Price</th>
                    <th>Popularity</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="car in selectedCars | orderBy: 'title' track by car.id" ng-class-even="'even'">
                    <td class="col-xs-2 title">{{car.title}}</td>
                    <td class="col-xs-6">{{car.description}}</td>
                    <td class="col-xs-2 text-center">{{car.price | currency}}</td>
                    <td class="col-xs-2 rating">
                        <div class="row">
                            <div class="col-xs-12">
                                <span ng-repeat="rating in [1,2,3,4,5]" class="star" ng-class="{'fill': rating<=car.popularity}"></span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="finish__button">
        <button type="button" class="btn btn-block btn-success" ng-click="sendData()">Send</button>
    </div>
</div>